<div class="footer">
<div class="badge-row">
	<div class="badges">
		<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.id">
		<img src="https://mirrors.creativecommons.org/presskit/buttons/80x15/svg/by-nc-sa.svg" alt=""></a>
	</div>
<div class="twoColumns">
	<div class="left">
		<a href="https://saweria.co/itsfaisalnur"><img src="https://saweria.co/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fcapy_happy.603c7293.svg&w=384&q=75" class="responsive" alt=""></a>
	</div>
	<div class="right"><a href="https://saweria.co/itsfaisalnur">Saweria</a></div>
</div>
</div>
</div>
